.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 100%);
}

.box-image {
  position: absolute;
  left: 290px;
  top: 400px;
  animation: box-animation 3s infinite ease-in-out;
}

@keyframes box-animation {
  0% { transform: translateY(0px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(0px); }
}